<h1> This Is Your Store </h1>
 
<% @stores.each  do |store|%>
   
    <p>Store Name: <%= store.name %></p> 
    <p>Location: <%= store.location %> </p>
    --------------------------------------------------------------------------------------------------
    <%end%>
    