<h1> New Store Registration </h1>
<form action='/stores' method='POST'>
<p>Store Name:<input type='text' name= 'name' ></p>
<p>Store Location:<input type='text' name= 'location'></p>
<input type="submit" value='Register'>
</form>