<h1> Your Store Information </h1>
<p> Store Name: <%=@store.name%></p>
<p> Store Location: <%=@store.location%></p>
<p> Store ID: <%= @store.id %> </p>
<p> *NOTICE* Your store ID will be required by all users who wish to have access to your stores inventory. If you are seeing this message after registering your new store, you will need this ID to register your user account. Go <a href='/Users/registrations/signup'> Here</a> To register a new user account.<p>



