<h1>Add Item To Inventory</h1>

<form action= '/items' method='POST'>
<p>Item Name:<input type='text' name= 'name'></p><br></br>
<p>Item Price:<input type='number' step='0.01' name='price'></p><br></br>
<p>Item Count:<input type='number' step='1' name='count'></p><br></br>
<p><input type='submit' value='Add Item'>
</form>
