  
<h1> Welcome </h1>

<p>If you are the first member of your company to be registering with us, you will first need to register your store by clicking <a href= '/stores/new'> HERE</a>
<p> New users signup <a href='/Users/registrations/signup'> HERE </a></p>
<p> Existing users login <a href='/login'> HERE</a> </p>