<style>
<style>
  .label{
background-color: silver;
font-weight: bold;
font-size: 18px;
width: 20%;
}
.link{
  background-color: silver;
    width: 10%;
    text-align: center;
    border-style: solid; 
    border-color: black;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    text-color: black;
}
.link:hover{
    background-color: grey;
    width: 10%;
    text-align: center;
    border-style: solid; 
    border-color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px black;
    text-color: black;
    
}


</style>


<h1> Welcome </h1>

<p>If you are the first member of your company to be registering with us, you will first need to register your store by clicking <a href= '/stores/new'> HERE</a>
<p> New users signup <a class='link' href='/Users/registrations/signup'> Signup </a></p>
<p> Existing users login <a class ='link' href='/login'> Login</a> </p>