<h1>Welcome!</h1>
<h2> Please fill out the form below to register a new user</h2>
<form action='Users/registrations' method='POST'>
<p> Username:<input type='text' name='username'> </p>
<p> Password:<input type='text' name='password'></p>
<p>Your Name:<input type='text' name='name'></p>
<p>Store ID:<input type='integer' name='store_id'></p>
<input type='submit' value='register user'>

*NOTICE* Your store ID was provided to you at the time of registering your store or by the administrator of your stores account. Contact the administrator of your store account if you do not have a store ID.
</form>
